@mixin pad {
    @media screen and (max-width: $pad-width) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: $mobile-width) {
        @content;
    }
}

// 製作 ham-menu
@mixin ham-menu {
    // 先製作 ham-menu
    .ham-menu {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 20%;
        background: $ham-menu-color--background;
    }
    // 製作 ham-menu外框做相對定位
    .ham-frame {
        position: relative;
        top: 50%;
    }
    // 製作 ham-menu 三根技巧
    .ham-bar {
        height: 3px;
        width: 30px;
        background-color: $ham-icon-color--bar;
        position: absolute;
        left: 5px;
    }
    .ham-bar--top {
      transform: translateY(-7px);
    }
    .ham-bar--bottom {
      transform: translateY(7px);
    }
    // 製作 ham-menu checked後圖形變成打叉圖示
    .ham-toggle:checked ~ .ham-menu .ham-frame .ham-bar--middle {
      opacity: 0;
    }
    .ham-toggle:checked ~ .ham-menu .ham-frame .ham-bar--top {
      transform: rotate(-45deg);
    }
    .ham-toggle:checked ~ .ham-menu .ham-frame .ham-bar--bottom {
      transform: rotate(45deg);
    }
    .header-nav {
        width: 100%;
        text-align: center;
        background-color: $ham-icon-color--background;
        position: absolute;
        top: 82px;
        left: 0%;
        // left: -100%; //也可藏在左邊，不用動畫
        transform: translateY(-200%);
        transition: transform .5s;
    }
    .ham-toggle:checked ~ .header-nav {
        // left: 0%; //也可藏在左邊，checked後再打開，不用動畫
        transform: none;
    }
    .list-menu {
        display: block;
        flex-direction: column;
        .list-menu-item-link {
            width: 100%;
            padding: 12px 0;
        }
    }
    header .container .list-menu {
        gap: 0px;
    }
    .list-menu-item {
        border: 1px solid $ham-menu-color--border;
    }
}
// 響應式手機或pad版時引入ham-menu
// @media screen and (max-width: $pad-width) {
//     @include ham-menu;
// }