.index {
    color: #650300;
    .banner-header {
        background-image: url("../image/home-header.png");
        padding-top: 787px / 1920px * 100%;
        @include banner;
        position: relative;
        @include pad {
            background-image: url("../image/home-header-sm.png");
            padding-top: 787px / 768px * 100%;
            @include banner;
        }
        .container {
            padding: 0px;
            height: 787px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: absolute;
            top: 35%;
            right: 0%;
            @include pad {
                padding: 0px 36px;
            }
            @include mobile {
                padding: 0px 14px;
            }
        }
    }
    .btn {
        font-size: 20px;
        line-height: 30px;
        width: 104px;
        height: 41px;
        padding: 6px 12px;
        background: #AA0601;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            color: #fff;
        }
    }
    h2 {
        text-align: center;
        margin-bottom: 48px;
    }
    section {
        padding: 80px 0;
    }
    .section-bg-color {
        background: #FBF2F2;
    }
    .list {
        display: flex;
        justify-content: space-between;
        gap: 24px;
    }
    .joint-name {
        gap: 0;
        @include pad {
            display: flex;
            flex-direction: column;
        }
    }
    .slogan {
        @include pad {
            flex-wrap: wrap;
        }
        li {
            width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            padding: 32px 0 24px 0;
            @include pad {
                width: 48%;
            }
            @include mobile {
                width: 100%;
            }
        }
        h4 {
            padding: 24px 0 8px 0;
            font-weight: 600;
        }
        img {
            width: 84px;
            height: 84px;
        }
    }
    .glasses-frame {
        @include pad {
            flex-wrap: wrap;
        }
        li {
            @include pad {
                width: 50%;
                margin: 0 auto;
            }
            @include mobile {
                width: 100%;
                margin: 0 auto;
            }
        }

    }
    .banner-content {
        background-image: url("../image/index-bg.png");
        @include banner;
    }
    .banner-color-style {
        color: #fff;
    }
    .banner-bg-style {
        background: #fff;
    }
    .mb-0 {
        margin-bottom: 0px;
    }
    p{
        color: #000;
    }
    .recommendation {
        @include pad {
            display: flex;
            flex-wrap: wrap;
        }
    }
    .card {
        @include pad {
            width: 48%;
            margin: 0 auto;
        }
        @include mobile {
            width: 90%;
            margin: 0 auto;
        }
    }
    .card-top{
        @include mobile {
            margin: 0 auto;
        }

    }
    .card-bottom{
        color: #707070;
        font-size: 14px;
        line-height: 21px;
        padding-bottom: 16px;
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0px 2px 6px #00000029;
        border: 1px solid #DEE2E6;
    }
    .container-form {
        width: $form-container-lg;
        margin: 0 auto;
        @include pad {
            width: $form-container-md;
            margin: 0 auto;
        }
        @include mobile {
            width: $form-container-sm;
            margin: 0 auto;
        }
        p {
            font-size: 20px;
            line-height: 30px;
        }
    }
    .form-item {
        width: 100%;
        margin: 0 auto;
        color: #000;
    }
    .d-block {
        display: block;
        padding: 16px 0  8px 0;
    }
    .form-style {
        width: 100%;
        height: 36px;
    }
    .form-heigh {
        height: 136px;
    }
    .btn-submit {
        width: 416px;
        margin: 48px auto 0;
        height: 56px;
        color: #fff;
        &:hover {
            background-color: #910501;
        }
        @include pad {
            width: 336px;
        }
        @include mobile {
            width: 348px;
        }
    }
}
