/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

a {
  display: block;
  text-decoration: none; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif; }

body {
  font-family: 'Roboto', sans-serif, 'Noto Sans TC'; }

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48; }

h1 {
  font-size: 64px;
  line-height: 96px;
  font-weight: bold; }
  @media screen and (max-width: 767px) {
    h1 {
      font-size: 24px;
      line-height: 36px; } }

h2 {
  font-size: 48px;
  line-height: 72px;
  font-weight: bold; }

h3 {
  font-size: 36px;
  line-height: 54px; }
  @media screen and (max-width: 767px) {
    h3 {
      font-size: 16px;
      line-height: 24px; } }

.h4 {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold; }

.h5 {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold; }

p {
  font-size: 16px;
  line-height: 24px; }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0px 12px; }
  @media screen and (max-width: 992px) {
    .container {
      max-width: 992px;
      margin: 0 auto;
      padding: 0px 36px; } }
  @media screen and (max-width: 767px) {
    .container {
      max-width: 767px;
      margin: 0 auto;
      padding: 0px 14px; } }

.py-8 {
  padding: 8px 0; }

.py-16 {
  padding: 16px 0; }

.pt-16 {
  padding-top: 16px; }

.pb-8 {
  padding-bottom: 8px; }

.mb-33 {
  margin-bottom: 33px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-48 {
  margin-bottom: 48px; }

.text-style-bright {
  color: #AA0601; }

.px-16-py-16_8 {
  padding: 16px 16px 8px; }

.pt-96 {
  padding-top: 96px; }

.pb-80 {
  padding-bottom: 80px; }

header {
  background-color: #AA0601;
  position: relative; }
  header .container {
    padding: 16px 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (max-width: 992px) {
      header .container {
        padding: 16px 36px; } }
  header .logo {
    height: 50px; }
    header .logo:hover {
      opacity: 0.7; }
  header .ham-toggle {
    visibility: hidden; }
  header .list-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 64px;
    font-size: 20px;
    line-height: 30px; }
    header .list-menu a {
      color: #fff; }
    header .list-menu a:hover {
      color: #c8c8ec; }

@media screen and (max-width: 767px) {
  .ham-menu {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20%;
    background: #AA0601; }
  .ham-frame {
    position: relative;
    top: 50%; }
  .ham-bar {
    height: 3px;
    width: 30px;
    background-color: #fff;
    position: absolute;
    left: 5px; }
  .ham-bar--top {
    -webkit-transform: translateY(-7px);
        -ms-transform: translateY(-7px);
            transform: translateY(-7px); }
  .ham-bar--bottom {
    -webkit-transform: translateY(7px);
        -ms-transform: translateY(7px);
            transform: translateY(7px); }
  .ham-toggle:checked ~ .ham-menu .ham-frame .ham-bar--middle {
    opacity: 0; }
  .ham-toggle:checked ~ .ham-menu .ham-frame .ham-bar--top {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .ham-toggle:checked ~ .ham-menu .ham-frame .ham-bar--bottom {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .header-nav {
    width: 100%;
    text-align: center;
    background-color: #AA0601;
    position: absolute;
    top: 82px;
    left: 0%;
    -webkit-transform: translateY(-200%);
        -ms-transform: translateY(-200%);
            transform: translateY(-200%);
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s; }
  .ham-toggle:checked ~ .header-nav {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .list-menu {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .list-menu .list-menu-item-link {
      width: 100%;
      padding: 12px 0; }
  header .container .list-menu {
    gap: 0px; }
  .list-menu-item {
    border: 1px solid #fff; } }

footer {
  background-color: #AA0601;
  color: #fff;
  font-size: 16px;
  line-height: 24px; }
  footer .container {
    padding: 60px 12px 32px 12px; }
    @media screen and (max-width: 992px) {
      footer .container {
        padding: 56px 36px 40px 36px; } }
    @media screen and (max-width: 767px) {
      footer .container {
        padding: 24px 14px; } }
  footer .footer-content {
    border-bottom: 1px solid #FFFFFF; }
    @media screen and (max-width: 992px) {
      footer .footer-content {
        padding-bottom: 32px; } }
    @media screen and (max-width: 767px) {
      footer .footer-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: start;
        gap: 8px 0;
        padding-bottom: 24px; } }
  footer .footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  footer .webmap-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 48px; }
    @media screen and (max-width: 767px) {
      footer .webmap-list {
        display: none; } }
    footer .webmap-list .webmap-link {
      color: #fff; }
  footer .social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 32px; }
    @media screen and (max-width: 767px) {
      footer .social-list {
        gap: 8px; } }
    footer .social-list img {
      width: 48px;
      height: 48px; }
      @media screen and (max-width: 767px) {
        footer .social-list img {
          width: 24px;
          height: 24px; } }
  footer .contact {
    font-size: 36px;
    line-height: 54px;
    padding: 36px 0 32px 0;
    gap: 8px 0; }
    @media screen and (max-width: 767px) {
      footer .contact {
        padding: 32px 0; } }
    @media screen and (max-width: 767px) {
      footer .contact {
        font-size: 16px;
        line-height: 24px;
        padding: 0px; } }
    footer .contact li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 22px; }
      @media screen and (max-width: 767px) {
        footer .contact li {
          gap: 11px; } }
    footer .contact a {
      color: #fff; }
  footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 32px; }
    @media screen and (max-width: 767px) {
      footer .copyright {
        display: block;
        padding-top: 16px;
        gap: 8px 0px; } }
    footer .copyright ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 48px; }
      @media screen and (max-width: 767px) {
        footer .copyright ul {
          display: block; } }
  footer a {
    color: #fff; }
  footer a:hover {
    color: #c8c8ec; }

.index {
  color: #650300; }
  .index .banner-header {
    background-image: url("../image/home-header.png");
    height: 787px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
    @media screen and (max-width: 767px) {
      .index .banner-header {
        background-image: url("../image/home-header-sm.png");
        height: 396px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat; } }
    .index .banner-header .container {
      padding: 0px;
      height: 787px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
      @media screen and (max-width: 992px) {
        .index .banner-header .container {
          padding: 0px 36px; } }
      @media screen and (max-width: 767px) {
        .index .banner-header .container {
          height: 396px;
          padding: 0px 14px; } }
  .index .btn {
    font-size: 20px;
    line-height: 30px;
    width: 104px;
    height: 41px;
    padding: 6px 12px;
    background: #AA0601;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .index .btn a {
      color: #fff; }
  .index h2 {
    text-align: center;
    margin-bottom: 48px; }
  .index section {
    padding: 80px 0; }
  .index .section-bg-color {
    background: #FBF2F2; }
  .index .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 24px; }
  .index .joint-name {
    gap: 0; }
    @media screen and (max-width: 992px) {
      .index .joint-name {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  @media screen and (max-width: 992px) {
    .index .slogan {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  .index .slogan li {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 32px 0 24px 0; }
    @media screen and (max-width: 992px) {
      .index .slogan li {
        width: 48%; } }
    @media screen and (max-width: 767px) {
      .index .slogan li {
        width: 100%; } }
  .index .slogan h4 {
    padding: 24px 0 8px 0;
    font-weight: 600; }
  .index .slogan img {
    width: 84px;
    height: 84px; }
  @media screen and (max-width: 992px) {
    .index .glasses-frame {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  @media screen and (max-width: 992px) {
    .index .glasses-frame li {
      width: 50%;
      margin: 0 auto; } }
  @media screen and (max-width: 767px) {
    .index .glasses-frame li {
      width: 100%;
      margin: 0 auto; } }
  .index .banner-content {
    background-image: url("../image/index-bg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  .index .banner-color-style {
    color: #fff; }
  .index .banner-bg-style {
    background: #fff; }
  .index .mb-0 {
    margin-bottom: 0px; }
  .index p {
    color: #000; }
  @media screen and (max-width: 992px) {
    .index .recommendation {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  @media screen and (max-width: 992px) {
    .index .card {
      width: 48%;
      margin: 0 auto; } }
  @media screen and (max-width: 767px) {
    .index .card {
      width: 90%;
      margin: 0 auto; } }
  @media screen and (max-width: 767px) {
    .index .card-top {
      margin: 0 auto; } }
  .index .card-bottom {
    color: #707070;
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 16px; }
  .index .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: 0px 2px 6px #00000029;
            box-shadow: 0px 2px 6px #00000029;
    border: 1px solid #DEE2E6; }
  .index .container-form {
    width: 636px;
    margin: 0 auto; }
    @media screen and (max-width: 992px) {
      .index .container-form {
        width: 576px;
        margin: 0 auto; } }
    @media screen and (max-width: 767px) {
      .index .container-form {
        width: 348px;
        margin: 0 auto; } }
    .index .container-form p {
      font-size: 20px;
      line-height: 30px; }
  .index .form-item {
    width: 100%;
    margin: 0 auto;
    color: #000; }
  .index .d-block {
    display: block;
    padding: 16px 0  8px 0; }
  .index .form-style {
    width: 100%;
    height: 36px; }
  .index .form-heigh {
    height: 136px; }
  .index .btn-submit {
    width: 416px;
    margin: 48px auto 0;
    height: 56px;
    color: #fff; }
    .index .btn-submit:hover {
      background-color: #910501; }
    @media screen and (max-width: 992px) {
      .index .btn-submit {
        width: 336px; } }
    @media screen and (max-width: 767px) {
      .index .btn-submit {
        width: 348px; } }

.store .store-img {
  width: 526px; }
  @media screen and (max-width: 992px) {
    .store .store-img {
      width: 50%;
      height: 224px;
      margin: 0 auto; } }
  @media screen and (max-width: 767px) {
    .store .store-img {
      height: 224px; } }

.store .select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px; }

.store .select-style {
  border: 1px solid #CED4DA;
  width: 304px;
  height: 38px;
  padding: 6px 0 6px 12px;
  font-size: 18px;
  line-height: 26px; }

.store .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px; }
  @media screen and (max-width: 992px) {
    .store .info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

@media screen and (max-width: 992px) {
  .store .map-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px; } }
  @media screen and (max-width: 992px) and (max-width: 767px) {
    .store .map-text {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.store .map-text-item {
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

@media screen and (max-width: 992px) {
  .store .box {
    width: 50%;
    height: 224px;
    margin: 0 auto; } }

.store .bd-card {
  border: 1px solid #00000020;
  padding-left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.store .bd-8 {
  border-left: 8px solid #9F1213; }

.store .pl-16 {
  padding-left: 16px; }

.map-google {
  padding-top: 16px;
  width: 58.33%; }
  @media screen and (max-width: 992px) {
    .map-google {
      width: 100%; } }
  .map-google iframe {
    width: 100%;
    height: 414px; }
    @media screen and (max-width: 767px) {
      .map-google iframe {
        height: 208px; } }

/*# sourceMappingURL=all.css.map */
